<ion-header>
    <ion-toolbar class="header">
        <ion-title>configuracion</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

    <!--Inicio de la card-->
    <ion-card>
        <ion-card-header class="prueba">
            <ion-card-subtitle>
                <ion-icon class="icono" name="person-circle-outline"></ion-icon> Maximiliano Cruz Maldonado<br> +52 551373 5790 <br> max.cruz.1512@gmail.com
            </ion-card-subtitle>
        </ion-card-header>
    </ion-card>

    <!--Favoritos-->
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
                <ion-icon class="icono" name="home-outline"></ion-icon> Casa
            </ion-card-subtitle>
            <ion-card-content>
                Fovissste Cisnes 27
            </ion-card-content>
            <ion-card-subtitle>
                <ion-icon class="icono" name="business-outline"></ion-icon> Trabajo
            </ion-card-subtitle>
            <ion-card-content>
                Av. Reforma 89
            </ion-card-content>
        </ion-card-header>
    </ion-card>

    <!--Seguridad 1-->
    <ion-card>
        <ion-card-header>
            <!--Administra tus contactos de confianza-->
            <ion-card-subtitle>
                <ion-icon class="icono" name="ribbon-outline"></ion-icon> Administra tus contactos de confianza
            </ion-card-subtitle>
            <ion-card-content>
                Comparte el estado de tu viaje con familiares y amigos en solo un toque
            </ion-card-content>

            <!--Verifica tu viaje-->
            <ion-card-subtitle>
                <ion-icon class="icono" name="qr-code-outline"></ion-icon> Verifica tu viaje
            </ion-card-subtitle>
            <ion-card-content>
                Usa un código PIN para asegurarte de utilizar al mensaje correcto
            </ion-card-content>

            <!--RideCheck-->
            <ion-card-subtitle>
                <ion-icon class="icono" name="car-outline"></ion-icon> RideCheck
            </ion-card-subtitle>
            <ion-card-content>
                Administra las notificaciones de RideCheck
            </ion-card-content>
        </ion-card-header>
    </ion-card>

    <!--Privacidad-->
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Privacidad</ion-card-subtitle>
            <ion-card-content>
                Administra la información que compartes con nosotros
            </ion-card-content>
        </ion-card-header>
    </ion-card>

    <!--Seguridad 2-->
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Seguridad</ion-card-subtitle>
            <ion-card-content>
                Usa la verificación en 2 pasos para controlar la seguridad de tu cuenta
            </ion-card-content>
        </ion-card-header>
    </ion-card>

    <!--Cierre de sesion-->
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Cerrar sesión</ion-card-subtitle>
        </ion-card-header>
    </ion-card>

</ion-content>